body {
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.514);
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    background-color: rgba(0, 0, 0, 0.767);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 20px 20px red;
    flex: 1;
    
}

i {
    border: 5px black solid;
    border-radius: 50%;
    padding: 8px;
    transition: 0.1s ease-in-out;
    margin-bottom: 8px;
    display: flex;
}



p {
    font-style:italic;
}

/* THIS IS TO MAKE THE INSTAGRAM ICON LITTLE LARGER TO HAVE SAME SIZE AS OTHERS, FOR SOME REASON IT DOESNT OTHERWISE */

.fa-brands.fa-instagram {
    width: 27px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.contact {
    display: flex;
    gap: 8px;
    font-size: 24px;
    flex: 1;
    padding: 8px;
    justify-content: center;
    align-items: center;
    margin: 16px 0px 0px 0px;
}

i:hover {
    color: red;
    border: 10px solid red;
    box-shadow: 0px 0px 24px 8px red;
}


.logo img {
    margin-top: 16px;
    margin-left: 15px;
    width: 500px;
    height: 180px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    flex: 1 0.1 0;
    justify-content: center;
    align-items: center;
    margin: 24px 0px 0px 80px;
    color: white;
    font-size: 22px;
    gap: 16px;
    padding: 16px;
}


.buy {
    display: flex;
    margin: 30px;
    padding: 8px 24px;
    height: 50px;
    font-weight: bold;
    border: 5px solid black;
    border-radius: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.123);
    cursor: pointer;
    font-size: 24px;
    transition: 0.1s;
    justify-content: center;
    align-items: center;
}

.buy:hover {
    color: red;
    border: 8px solid red;
    box-shadow: 0px 0px 24px 8px red;
}


.p-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 10px 100px 60px white;
    border-top: 6px dotted rgba(236, 236, 22, 0.178);
    border-bottom: 6px dotted rgba(236, 236, 22, 0.178);
    height: 300px;
    margin-top: 100px;
    text-align: center;
    font-size: 28px;
    max-height: 100px;
    padding: 40px;
    
}


.p-wrap {
    max-width: 1000px;
    display: flex;
    flex: 1;
}

.card-container {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px 0px;
}

.companion {
    border: 2px solid black;
    border-radius: 70px;
    height: 300px;
    width: 500px;
    background-color: rgba(49, 5, 5, 0.514);
    opacity: 0.7;
    transition: 0.3s;
    position: relative;
}

.card-container img {
    width: 500px;
    height: 300px;
    border-radius: 70px;
   
}

.companion:hover {
    opacity: 1;
}

.companion {
    display: flex;
    align-items: center;
}

.companion p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 500px;
    height: 300px;
    opacity: 0;
    line-height: 22px;
    transition: 0.3s;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0px 0px 30px 20px rgba(143, 16, 16, 0.74);
    border-radius: 70px;

}

.companion p:hover {
    opacity: 1;
}

.know-more-box {
    height: 120px;
    width: 900px;
    background-color: rgba(143, 16, 16, 0.89);
    box-shadow: 0px 20px 50px 0px rgba(143, 16, 16, 0.74);
    border-radius: 30px;
    border: black 5px double;
    padding: 16px;
   
}

.know-more-info {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.know-more-info p {
    font-size: 24px;
    margin: 0px 0px 8px 0px;
}

h4 {
    
    font-size: 32px;
    margin: 16px 0px 0px 25px;
}

.info-panel {
    display: flex;
    justify-content: center;
    flex: 1;
    /* This is just to make it visible at the bottom of the page REMOVE LATER */
    margin-bottom: 800px;
}

.embark {
    font-size: 24px;
    
}